.formacao {
  background-color: #0b0b0b;
  padding: 4rem 0rem;
}

.formacao-container {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: repeat(auto, 1fr);
  row-gap: 80px;
  max-width: 2000px;
}

.formacao-container-detalhe {
  grid-area: span 3;
  margin: 0rem 8rem 0rem 0rem;
  justify-self: end;
}

#degrade {
  margin: 0.5rem 0rem 0rem 4rem;
  height: 900px;
}

.estudante-main h1 {
  position: relative;
  color: #2fdce6;
  font-size: 4rem;
  margin: 0;
}

.estudante h2 {
  position: relative;
  color: white;
  font-size: 4rem;
  font-weight: bold;
  margin-left: 2rem;
  align-self: center;
}

.estudante-main h2::before {
  content: "";
  position: absolute;
  background-color: #47b1b8;
  width: 10px;
  height: 50px;
  display: block;
  left: -7.5rem;
  top: 0.75rem;
}

.estudante {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.curso {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #8c8c8c;
  border-radius: 10px;
  max-width: 600px;
  max-height: 160px;
  margin: 1rem 3rem 1rem 0rem;
}

.curso span {
  margin: 1rem 0rem 1rem 1.5rem;
  font-weight: bold;
  color: #d9d9d9;
}

.curso p {
  position: relative;
  margin: 0;
  color: white;
  font-weight: bold;
  margin: 0rem 2rem 0rem 3rem;
}

.curso p::after {
  position: absolute;
  content: "";
  background: url(../img/curso.svg);
  width: 120px;
  height: 120px;
  right: 2rem;
  top: -2rem;
}

.intensivos {
  display: flex;
  flex-direction: column;
  place-content: end;
}

.intensivos-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.intensivos-item p {
  margin: 0rem 0rem 0rem 6rem;
  color: white;
  line-height: 1.5;
  font-weight: bold;
}

#frontend {
  position: relative;
}

#frontend::after {
  content: "Front End";
  display: block;
  color: #47b1b8;
  position: absolute;
  left: 7rem;
  top: 0rem;
  font-weight: bold;
}

.intensivos-item .subtitulo {
  color: #8c8c8c;
  margin-bottom: 1rem;
  font-weight: 500;
}

.intensivos h1 {
  position: relative;
  color: #1f7f85;
  font-size: 2rem;
  margin: 0rem 0rem 2rem 0rem;
}

.intensivos .titulo,
.intensivos .subtitulo {
  grid-column: 1;
}

.intensivos #origamid {
  color: white;
  font-weight: bold;
  grid-column: 2;
  grid-row: 1;
  place-self: end;
  margin-right: 6rem;
}

.intensivos #cursoemvideo {
  color: white;
  font-weight: bold;
  grid-column: 2;
  grid-row: 3;
  place-self: end;
  margin-right: 6rem;
}

.idiomas {
  display: flex;
  flex-direction: column;
  place-content: end;
}

.idiomas h1 {
  position: relative;
  font-size: 2rem;
  color: #123234;
}

.idioma {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.idioma p {
  color: white;
  margin: 0;
  font-weight: bold;
  margin: 0rem 2rem 1rem 6rem;
}

.idioma span {
  color: #8c8c8c;
  margin: 0rem 6rem 1rem 0rem;
  place-self: end;
}

.estudante-main h1::before {
  content: "";
  background: url(../img/estudante.svg);
  width: 64px;
  height: 64px;
  display: block;
  position: absolute;
  left: -6rem;
}

.intensivos h1::before {
  content: "";
  background: url(../img/cursos.svg);
  width: 64px;
  height: 64px;
  display: block;
  position: absolute;
  left: -6rem;
  top: -1rem;
}

.idiomas h1::before {
  content: "";
  background: url(../img/idioma.svg);
  width: 64px;
  height: 64px;
  display: block;
  position: absolute;
  left: -6rem;
  top: -1rem;
}

@media (max-width: 1650px) {
  .estudante-main h2::before {
    left: -1rem;
  }
}

@media (max-width: 1150px) {
  .curso p::after {
    display: none;
  }
}

@media (max-width: 1000px) {
  div.estudante-main h1 {
    font-size: 2rem;
  }
  .estudante-main h2::before {
    height: 20px;
    width: 6px;
    top: 0.5rem;
  }
  div.estudante-main h2 {
    font-size: 2rem;
    word-break: break-all;
  }
  div.intensivos h1 {
    font-size: 1.5rem;
  }
  div.curso {
    margin-left: 0rem;
  }
  div.intensivos-item p {
    margin-left: 2rem;
  }
  div.idiomas h1 {
    font-size: 1.5rem;
  }
  div.idioma p {
    margin-left: 2rem;
  }
}

@media (max-width: 615px) {
}

@media (max-width: 450px) {
  div.formacao-container h1::before {
    display: none;
  }
  div.formacao-container-detalhe {
    display: none;
  }
  div.formacao-container {
    grid-template-columns: 1fr;
    gap: 2rem 0rem;
    margin: 0rem 2rem;
  }
  #frontend::after {
    left: 6rem;
  }
  div.estudante-main {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  div.estudante-main h2 {
    grid-row: 3;
  }
  div.estudante-main h2::before {
    height: 0.5rem;
    width: 1rem;
    top: -0.5rem;
    left: 0.5rem;
  }
  div.curso {
    max-width: 200px;
  }
}
